<div class="custom_card_perfil ">
  <mat-card class="custom_card mx-auto">
    <mat-card-header>
      <div class="custom_card_header_perfil">
        <div>
          <mat-card-title>Bienvenido, {{ userData.user.name }}</mat-card-title>
          <mat-card-subtitle>
            <p *ngIf="userData.user.email"> Correo Electronico: {{userData.user.email}}</p>

          </mat-card-subtitle>
        </div>
        <div>
          <ng-container>
            <img *ngIf="userData.user.photo_url; else noImage" class="custom_img" [src]="userData.user.photo_url"
              width="100" height="100" alt="" />
          </ng-container>

          <ng-template #noImage>
            <img class="custom_img" src="../../../../assets/no-image.png" width="100" height="100" alt="" />
          </ng-template>

        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="userData.user.phone">Telefono: {{ userData.user.phone }}</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="goToUpdate()">Actualizar Perfil</button>
    </mat-card-actions>
  </mat-card>

</div>
