<div>
  <mat-toolbar color="primary">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <div class="d-flex align-items-center">
            <img class="px-3" src="../../../../assets/plataform light.svg" alt="" />
            <span class="toolbar-text px-3">
              Plataforma Universitaria Interactiva</span>
          </div>
        </div>
        <div>
          <button mat-button>Contactanos</button>
          <button mat-button (click)="goToLogin()">Iniciar Sesion</button>
          <button mat-button (click)="goToRegister()">Registrarse</button>
        </div>
      </div>
    </div>
  </mat-toolbar>
</div>

<div class="Dashboard_main">
  <div class="main_h">
    <div>
      <h1> Bienvenido</h1>
    </div>
    <div>
      <h3>Comparte</h3>
      <h3>Crea</h3>
      <h3>Interactua</h3>
    </div>
  </div>
  <div>
    <button class="dashboard_main_button" mat-raised-button (click)="goToLogin()">
      <h4>comenzar</h4>
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</div>


<!-- <iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/B-lipaiZII8"
  style="border: 0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
></iframe> -->
