<div >
 <user-my-perfil [userData]="userData"></user-my-perfil>
</div>
<mat-divider></mat-divider>
<div class="d-flex justify-content-start align-items-center mt-2">
  <h2 class="ms-2 my-2">Mis interaciones.</h2>
  <div class="mx-3">
    <mat-icon class="mx-3" [matBadge]="responses.length" matBadgeColor="warn">comment</mat-icon>
    <mat-icon class="mx-3" matBadge="0" matBadgeColor="warn">question_mark</mat-icon>
    <mat-icon class="mx-3" [matBadge]="totalPoint.puntoTotal" color="accent" matBadgeColor="primary">star</mat-icon>
  </div>
</div>


<mat-tab-group>
  <mat-tab label="Respuestas Realizadas">
    <div class="my-2 mx-auto w-75">
      <user-my-respond [responses]="responses"></user-my-respond>
    </div>
  </mat-tab>
  <mat-tab label="Historial de Puntaje">
    <user-history-point [AllPointsByUser]="AllPointsByUser"></user-history-point>
  </mat-tab>

</mat-tab-group>
